html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Henny Penny Regular";
  src: url("../fonts/HennyPenny-Regular/HennyPenny-Regular.eot");
  src: url("../fonts/HennyPenny-Regular/HennyPenny-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HennyPenny-Regular/HennyPenny-Regular.woff2") format("woff2"), url("../fonts/HennyPenny-Regular/HennyPenny-Regular.woff") format("woff"), url("../fonts/HennyPenny-Regular/HennyPenny-Regular.ttf") format("truetype"), url("../fonts/HennyPenny-Regular/HennyPenny-Regular.svg#HennyPenny-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Glaho Bold";
  src: url("../fonts/bpg-glaho-bold/BPGGlaho-Bold.eot");
  src: url("../fonts/bpg-glaho-bold/BPGGlaho-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-glaho-bold/BPGGlaho-Bold.woff2") format("woff2"), url("../fonts/bpg-glaho-bold/BPGGlaho-Bold.woff") format("woff"), url("../fonts/bpg-glaho-bold/BPGGlaho-Bold.ttf") format("truetype"), url("../fonts/bpg-glaho-bold/BPGGlaho-Bold.svg#BPGGlaho-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Algeti Compact";
  src: url("../fonts/BPGAlgetiCompact/BPGAlgetiCompact.eot");
  src: url("../fonts/BPGAlgetiCompact/BPGAlgetiCompact.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGAlgetiCompact/BPGAlgetiCompact.woff2") format("woff2"), url("../fonts/BPGAlgetiCompact/BPGAlgetiCompact.woff") format("woff"), url("../fonts/BPGAlgetiCompact/BPGAlgetiCompact.ttf") format("truetype"), url("../fonts/BPGAlgetiCompact/BPGAlgetiCompact.svg#BPGAlgetiCompact") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Nuskha Modern";
  src: url("../fonts/BPGNuskhaModern/BPGNuskhaModern.eot");
  src: url("../fonts/BPGNuskhaModern/BPGNuskhaModern.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGNuskhaModern/BPGNuskhaModern.woff2") format("woff2"), url("../fonts/BPGNuskhaModern/BPGNuskhaModern.woff") format("woff"), url("../fonts/BPGNuskhaModern/BPGNuskhaModern.ttf") format("truetype"), url("../fonts/BPGNuskhaModern/BPGNuskhaModern.svg#BPGNuskhaModern") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  padding-bottom: 30px;
}

body .contact-s-1, body .about-s-1, body .galery-s-1, body .index-s-1, body .header-wraper .header-nav .header-nav-box, body .header-wraper .header-nav, body .header-wraper {
  max-width: 1366px;
  width: 100%;
}

body .header-wraper {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.1411764706);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-wraper .header-nav {
  height: 100px;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  body .header-wraper .header-nav {
    flex-wrap: wrap;
    height: 100%;
  }
}
body .header-wraper .header-nav .header-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-wraper .header-nav .header-nav-box .logo-title a {
  font-family: "Henny Penny Regular";
  font-size: 35px;
  color: blue;
}
@media (max-width: 1100px) {
  body .header-wraper .header-nav .header-nav-box .logo-title a {
    display: none;
  }
}
body .header-wraper .header-nav .header-nav-box .menu-ul1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
body .header-wraper .header-nav .header-nav-box .menu-ul1 .menu-li {
  font-family: "BPG Glaho Bold";
  font-size: 18px;
  color: black;
}
body .header-wraper .header-nav .header-nav-box .menu-ul1 .active-li {
  font-family: "BPG Glaho Bold";
  font-size: 18px;
  color: blue;
}
@media (max-width: 768px) {
  body .header-wraper .header-nav .header-nav-box .menu-ul1 {
    display: none;
  }
}
body .header-wraper .header-nav .header-nav-box .burger-icon {
  display: none;
}
@media (max-width: 768px) {
  body .header-wraper .header-nav .header-nav-box .burger-icon {
    color: grey;
    display: block;
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
  }
}
body .header-wraper .header-nav .menu-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: none;
  padding-bottom: 20px;
}
body .header-wraper .header-nav .menu-ul .menu-li {
  font-family: "BPG Glaho Bold";
  font-size: 25px;
  color: black;
}
body .header-wraper .header-nav .menu-ul .active-li {
  font-family: "BPG Glaho Bold";
  font-size: 25px;
  color: blue;
}
@media (max-width: 768px) {
  body .header-wraper .header-nav .menu-ul.open-menu {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
body .index-s-1 {
  margin-top: 100px;
  height: 1000px;
}
body .index-s-1 .tableCell {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  body .index-s-1 .tableCell {
    margin-top: 200px;
  }
}
body .index-s-1 .tableCell .code-title {
  font-family: "Henny Penny Regular";
  font-size: 25px;
  margin-bottom: 10px;
  color: gray;
}
@media (max-width: 480px) {
  body .index-s-1 .tableCell .code-title {
    font-size: 16px;
  }
}
body .index-s-1 .tableCell .random-generator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  width: 100%;
}
body .index-s-1 .tableCell .random-generator input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-family: "BPG Glaho Bold";
  font-size: 25px;
  border: 3px solid gray;
  border-radius: 30px;
}
body .index-s-1 .tableCell .random-generator button {
  border: none;
  background-color: white;
}
body .index-s-1 .tableCell .generator-title {
  margin-top: 10px;
  margin-right: 50px;
  font-family: "BPG Glaho Bold";
  font-size: 20px;
}
body .index-s-1 a .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
body .index-s-1 a .slideshow-container .mySlides {
  display: none;
}
body .index-s-1 a .slideshow-container .mySlides .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
body .index-s-1 a .slideshow-container .mySlides img {
  vertical-align: middle;
}
body .index-s-1 a .slideshow-container .mySlides .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 300px) {
  body .index-s-1 a .slideshow-container .mySlides .text .text {
    font-size: 11px;
  }
}
body .index-s-1 a .slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body .index-s-1 a .slideshow-container .fade .active {
  background-color: #717171;
}
body .index-s-1 .dot-box .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

body .galery-s-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
@media (max-width: 850px) {
  body .galery-s-1 {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  body .galery-s-1 {
    margin-top: 250px;
  }
}
body .galery-s-1 .galery-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 100px;
}
@media (max-width: 850px) {
  body .galery-s-1 .galery-box {
    width: 400px;
  }
}
@media (max-width: 768px) {
  body .galery-s-1 .galery-box {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  body .galery-s-1 .galery-box {
    width: 100%;
    flex-direction: column;
  }
}
body .galery-s-1 .galery-box img {
  width: 192px;
  height: 282px;
  margin-right: 10px;
}
body .galery-s-1 .galery-box .galery-books {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 192px;
  min-height: 200px;
  height: 100%;
}
body .galery-s-1 .galery-box .galery-book-info {
  width: 100%;
  font-family: "BPG Algeti Compact";
  font-size: 16px;
  line-height: 22px;
}
body .galery-s-1 .galery-box .galery-price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
@media (max-width: 480px) {
  body .galery-s-1 .galery-box .galery-price-box {
    width: 100%;
  }
}
body .galery-s-1 .galery-box .galery-price-box .galery-price {
  font-family: "BPG Nuskha Modern";
  font-size: 22px;
  color: #3DD6C4;
  text-align: center;
  margin-bottom: 10px;
}
body .galery-s-1 .galery-box .galery-price-box .galery-pay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 30px;
  background-color: rgba(238, 196, 24, 0.9882352941);
}

body .about-s-1 {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  padding: 0 30px;
  background-image: url(../img/info-book.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .about-s-1 .about-box {
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  padding: 20px 10px;
  border-radius: 30px;
  background-color: rgba(173, 216, 230, 0.6392156863);
}
body .about-s-1 .about-box h1 {
  font-family: "BPG Glaho Bold";
  color: black;
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}
@media (max-width: 480px) {
  body .about-s-1 .about-box h1 {
    font-size: 25px;
  }
}
body .about-s-1 .about-box p {
  font-family: "BPG Algeti Compact";
  font-size: 20px;
  word-spacing: 5px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 480px) {
  body .about-s-1 .about-box p {
    font-size: 18px;
  }
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

body .contact-s-1 {
  margin-top: 200px;
  height: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1160px) {
  body .contact-s-1 {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  body .contact-s-1 {
    height: 900px;
  }
}
body .contact-s-1 .contact-box {
  width: 260px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  body .contact-s-1 .contact-box {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  body .contact-s-1 .contact-box {
    margin-top: 100px;
  }
}
body .contact-s-1 .contact-box h3 {
  font-family: "BPG Glaho Bold";
  font-size: 20px;
}
body .contact-s-1 .contact-box .contact-ul {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
body .contact-s-1 .contact-box .contact-ul .contact-li,
body .contact-s-1 .contact-box .contact-ul .contact-li1,
body .contact-s-1 .contact-box .contact-ul .contact-li2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "BPG Glaho Bold";
}
body .contact-s-1 .contact-box .contact-ul .contact-li i,
body .contact-s-1 .contact-box .contact-ul .contact-li1 i,
body .contact-s-1 .contact-box .contact-ul .contact-li2 i {
  margin-right: 20px;
  font-size: 30px;
  color: blue;
}
body .contact-s-1 .contact-box .contact-ul .contact-li a,
body .contact-s-1 .contact-box .contact-ul .contact-li1 a,
body .contact-s-1 .contact-box .contact-ul .contact-li2 a {
  line-height: 25px;
  font-family: "BPG Algeti Compact";
  font-size: 20px;
  color: black;
}
body .contact-s-1 .contact-box .contact-ul .contact-li a:hover,
body .contact-s-1 .contact-box .contact-ul .contact-li1 a:hover,
body .contact-s-1 .contact-box .contact-ul .contact-li2 a:hover {
  color: blue;
  font-size: 22px;
}
body .contact-s-1 .qr-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 800px;
  width: 100%;
  height: 610px;
  margin: 0 30px;
  position: relative;
}
body .contact-s-1 .qr-box img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}
body .contact-s-1 .qr-box .download-app {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin-right: 15%;
  margin-top: 50px;
}
@media (max-width: 680px) {
  body .contact-s-1 .qr-box .download-app {
    margin-right: 12%;
  }
}
@media (max-width: 530px) {
  body .contact-s-1 .qr-box .download-app {
    margin-top: 60px;
    margin-right: 4%;
    height: 180px;
  }
}
@media (max-width: 380px) {
  body .contact-s-1 .qr-box .download-app {
    width: 130px;
    margin-top: 50px;
    margin-right: 2%;
    height: 130px;
  }
}
body .contact-s-1 .qr-box .download-app h3 {
  font-family: "BPG Glaho Bold";
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}
@media (max-width: 430px) {
  body .contact-s-1 .qr-box .download-app h3 {
    font-size: 15px;
    line-height: 20px;
  }
}
body .contact-s-1 .qr-box .download-app .app-img {
  width: 150px;
  height: 50px;
  border-radius: 10%;
}
@media (max-width: 580px) {
  body .contact-s-1 .qr-box .download-app .app-img {
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 430px) {
  body .contact-s-1 .qr-box .download-app .app-img {
    width: 80px;
    height: 30px;
  }
}