body {
    @extend %body;
    .about-s-1 {
        @extend %width;
        height: 85vh;
        margin-top: 100px;
        @include d-flex (flex, center, center);
        padding: 0 10px;         
        background-image: url(../img/info-book.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .about-box {
            max-width: 700px;
            width: 100%;
            @include d-flex (flex, center, center);
            padding: 20px 10px;
            border-radius: 30px;
            background-color: #add8e6a3;
            h3 {
                font-family: $ac-compact;
                font-size: 20px;
                word-spacing: 5px;
                text-align: center;
                line-height: 30px;
                @media (max-width: 480px) {
                    font-size: 15px;
                }
            }
        }

    }
}