.clear::after { content: '';
    clear: both;
    display: block; }

body {
    @extend %body;
    .contact-s-1 {
        @extend %width;
        min-height: 800px;
        height: 100%;
        margin-top: 100px;
        @include d-flex( flex, space-evenly, center);
        @media (max-width: 1160px) {
            flex-direction: column;
        } 
        @media (max-width: 768px) {
            height: 800px;
        } 
        @media (max-width: 480px) {
            height: 1200px;
        }       
        .contact-box {
            width: 260px;
            height: 200px;
            @include d-flex ( flex, space-between, center);
            flex-direction: column;            
            h3 {
                font-family: $bg-bold;
                font-size: 20px;
            }
            .contact-ul {
                width: 100%;
                height: 150px;
                @include d-flex (flex, space-between, flex-start);
                flex-direction: column;
                .contact-li {
                    @include d-flex ( flex, center, center);
                    font-family: $bg-bold;
                    i {
                        margin-right: 20px;
                        font-size: 30px;
                        color: blue;
                    }
                    a {
                        line-height: 25px;
                        font-family: $ac-compact;
                        font-size: 20px;
                        color: black; 
                        &:hover {
                            color: blue;
                            font-size: 22px;
                        }                       
                    }
                }
            }
        }
        .qr-box {
            @include d-flex (flex, space-evenly, center);
            max-width: 600px;
            width: 100%;
            height: 200px;
            @media (max-width: 480px) {
                flex-direction: column;
                height: 600px;
            }
            h3 {
                width: 200px;
                font-family: $hp-reg;
                font-size: 25px;
                text-align: center;
                line-height: 40px;
                @media (max-width: 490px){
                    font-size: 20px;
                }
            } 
            .app-box {
                @include d-flex (flex, center, center);
                flex-direction: column;
                .qr-img {
                    width: 150px;
                    height: 150px;
                }            
                .app-img {
                    width: 150px;
                    height: 50px;
                    border-radius: 5%;
                }         
            }            
        }

    }
}