
body {
    @extend %body;
    .header-wraper{
        @extend %width;
        position: fixed;
        background-image: url(../img/header-back.png);
        @include d-flex (flex, space-between, center);
        .header-nav {
            @extend %width;            
            height: 100px; 
            margin: 0 30px;
            @include d-flex (flex, space-between, center);
            @media (max-width: 768px) {
                flex-wrap: wrap;
                height: 100%;
            }
            .header-nav-box {                
                @extend %width;
                @include d-flex (flex, space-between, center);
                .logo-title a {
                    font-family: $hp-reg;
                    font-size: 35px;
                    color: blue;
                    @media ( max-width:1100px ) {
                        display: none;
                    }
                }
                .menu-ul1{
                    @include d-flex ( flex, space-between,center);
                    max-width: 500px;
                    width: 100%;
                    .menu-li {
                        font-family: $bg-bold;
                        font-size: 18px;
                        color: black;
                    }
                    .active-li {    
                        font-family: $bg-bold;
                        font-size: 18px;
                        color: blue;
                    }
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
                .burger-icon {
                    display: none;
                    @media ( max-width: 768px ) {
                            color: grey;
                            display: block;
                            font-size: 30px;
                            margin-right: 30px;
                            cursor:pointer;                    
                    }
                }
            }
            .menu-ul {
                @include d-flex ( flex, space-between,center);
                flex-direction: column;
                width: 100%;
                display: none;                
                padding-bottom: 10px;
                .menu-li {
                    font-family: $bg-bold;
                    font-size: 15px;
                    color: black;
                }
                .active-li {    
                    font-family: $bg-bold;
                    font-size: 15px;
                    color: blue;
                }
            }
            @media (max-width:768px) {
                .menu-ul.open-menu {
                width: 100%;
                height: 110px;
                @include d-flex(flex, space-between, center);
                flex-direction: column;                    
                }
            }
        }
    }
    .index-s-1 {
        @extend %width;
        margin-top: 40px;
        .tableCell {
            margin-top: 100px;
            margin-bottom: 50px;
            padding: 0 20px;
            @include d-flex (flex, center, center);
            flex-direction: column;
            @media (max-width: 768px) {
                margin-top: 200px;
            }
            .code-title {
                font-family: $hp-reg;
                font-size: 25px;
                margin-bottom: 20px;
                color: gray;
                @media (max-width: 480px) {
                    font-size: 16px;
                }
            }            
            .random-generator {
                @include d-flex (flex, space-between, center);
                max-width: 350px;
                width: 100%;
                input {
                    width: 100%;
                    height: 50px;                    
                    padding: 0 20px;
                    font-family: $bg-bold;
                    font-size: 25px;
                    border: 3px solid gray;
                    border-radius: 30px;
                }
                button {
                    border: none;
                    background-color: white;
                }
            }
            .generator-title {
                margin-top: 10px;
                margin-right: 50px;
                font-family: $bg-bold;
                font-size: 20px;
            }
        }
        .video-box {
            @include d-flex (flex, center, center);
            video {
                max-width: 600px;
                width: 100%;
                max-height: 340px;
                height: auto;
            }
        }
    }
// ------------------------------ slideshow -----------------------------
    .index-s-2 {
        @include d-flex (flex, center, center);
        flex-direction: column;
        margin: 30px 0;
    }
    .mySlides {display: none;}
    img {
        vertical-align: middle;
        width: 100%;
        max-height: 640px;
        height: auto;
    }
    .slideshow-title {
        color: black;
        font-size: 20px;
        padding: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #c0c0c0c4;
        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
    /* Slideshow container */
    .slideshow-container {
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: auto;
    }
    /* The dots/bullets/indicators */
    .dot {
    height: 15px;
    width: 55px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor:pointer;
    }
    .active {
    background-color: #717171;
    }
    /* Fading animation */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
    .footer {
        max-width: 1366px;
        width: 100%;
        height: 50px;
        @include d-flex (flex, space-around, center);
        background-image: url(../img/header-back.png);
        .footer-social {
            width: 30%;
            height: 100%;
            @include d-flex (flex, space-evenly, center);
            .fa-facebook-f,
            .fa-phone-volume,
            .fa-google-plus-g {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                @include d-flex (flex, center, center);
                font-size: 15px;
                background-color: #3B5998;
                color: #FFFFFF;
            }
            .fa-phone-volume {
                // background-color: #55ACEE;
                color: #FFFFFF;
            }
            .fa-google-plus-g {
                background-color: #DC4E41;
                color: #FFFFFF;
            }
        }

    }
} 
// ------------------------------- facebook -----------------------------

