@font-face {
    font-family: 'Henny Penny Regular';
    src: url('../fonts/HennyPenny-Regular/HennyPenny-Regular.eot');
    src: url('../fonts/HennyPenny-Regular/HennyPenny-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.woff2') format('woff2'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.woff') format('woff'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.ttf') format('truetype'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.svg#HennyPenny-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Glaho Bold';
    src: url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.eot');
    src: url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.woff2') format('woff2'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.woff') format('woff'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.ttf') format('truetype'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.svg#BPGGlaho-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Algeti Compact';
    src: url('../fonts/BPGAlgetiCompact/BPGAlgetiCompact.eot');
    src: url('../fonts/BPGAlgetiCompact/BPGAlgetiCompact.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BPGAlgetiCompact/BPGAlgetiCompact.woff2') format('woff2'),
        url('../fonts/BPGAlgetiCompact/BPGAlgetiCompact.woff') format('woff'),
        url('../fonts/BPGAlgetiCompact/BPGAlgetiCompact.ttf') format('truetype'),
        url('../fonts/BPGAlgetiCompact/BPGAlgetiCompact.svg#BPGAlgetiCompact') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}