@font-face {
    font-family: 'Henny Penny Regular';
    src: url('../fonts/HennyPenny-Regular/HennyPenny-Regular.eot');
    src: url('../fonts/HennyPenny-Regular/HennyPenny-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.woff2') format('woff2'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.woff') format('woff'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.ttf') format('truetype'),
        url('../fonts/HennyPenny-Regular/HennyPenny-Regular.svg#HennyPenny-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Glaho Bold';
    src: url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.eot');
    src: url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.woff2') format('woff2'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.woff') format('woff'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.ttf') format('truetype'),
        url('../fonts/bpg-glaho-bold/BPGGlaho-Bold.svg#BPGGlaho-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Germania One Regular';
    src: url('../fonts/GermaniaOne-Regular/GermaniaOne-Regular.eot');
    src: url('../fonts/GermaniaOne-Regular/GermaniaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GermaniaOne-Regular/GermaniaOne-Regular.woff2') format('woff2'),
        url('../fonts/GermaniaOne-Regular/GermaniaOne-Regular.woff') format('woff'),
        url('../fonts/GermaniaOne-Regular/GermaniaOne-Regular.ttf') format('truetype'),
        url('../fonts/GermaniaOne-Regular/GermaniaOne-Regular.svg#GermaniaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}